.content {
  display: grid;
  grid-template-rows: 20rem 20rem 20rem 20rem;
  grid-template-columns: 19rem 19rem 19rem 19rem;
  margin: 0 2rem;
  background: white;
}

.imageSmall {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.imageBig {
  background-size: cover;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey {
  background-color: #eaedf0;
}

.pink {
  background-color: #fdf1f6;
}

.green {
  background-color: #d1e1e0;
}

.blue {
  background-color: #d1dae1;
}

.black {
  background-color: black;
}

.purple {
  background-color: #d8d1e1;
}

.white {
  color: white;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.wide {
  grid-column: span 2;
  padding: 0 5rem;
}

.logo {
  width: 3rem;
}

.logoBig {
  width: 6rem;
}

@media (max-width: 768px) {
  .content {
    grid-template-rows: 18rem 15rem 15rem 18rem 18rem 15rem 15rem 18rem;
    grid-template-columns: 14.7rem 14.7rem 14.7rem;
  }
  .textContainer {
    grid-column: span 2;
    padding: 0 4rem;
  }
  .wide {
    grid-column: span 3;
    padding: 0 8.5rem;
  }
  .logo {
    width: 2.2rem;
  }
  .logoBig {
    width: 4rem;
  }
}
