.content {
  width: 1280px;
  max-width: 100%;
  overflow: hidden;
  padding: 2rem 2rem 0 2rem;
}

.grid {
  display: flex;
  flex-flow: wrap;
}

.gridItem {
  height: 40vh;
  flex: 1 1 25%;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide {
  flex: 1 1 50%;
  padding: 4rem;
}

.imageSmall {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey {
  background-color: #eaedf0;
}

.pink {
  background-color: #fdf1f6;
}

.green {
  background-color: #d1e1e0;
}

.blue {
  background-color: #d1dae1;
}

.black {
  background-color: black;
}

.purple {
  background-color: #d8d1e1;
}

.white {
  color: white;
}

.logo {
  width: 3rem;
}

.logoBig {
  width: 6rem;
}

@media (max-width: 980px) {
  .gridItem {
    flex: 1 1 50%;
    padding: 3.5rem;
    height: 45vh;
  }
  .wide {
    flex: 1 1 100%;
    padding: 8rem;
  }
  .logo {
    width: 2.2rem;
  }
  .logoBig {
    width: 4rem;
  }
}

@media (max-width: 600px) and (min-width: 320px)  {
  .content {
    padding: 0;
  }
  .gridItem {
    height: 35vh;
  }
  .wide {
    padding: 5rem;
  }
}

@media (max-width: 414px) and (min-width: 320px) {
  .gridItem {
    padding: 1.2rem;
    height: 32vh;
  }
  .wide {
    padding: 2.5rem;
  }
}

@media (max-width: 320px) {
  .gridItem {
    height: 37vh;
  }
  .logo {
    width: 1.8rem;
  }
  .logoBig {
    width: 3.2rem;
  }
}
