.scrollIndicator {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 37rem;
}

.scrollIndicator img {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

.arrowDown {
  animation: bounce-down 1s infinite alternate;
}

@keyframes bounce-down {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media (max-width: 750px) and (min-width: 320px) {
  .scrollIndicator img {
    width: 1.2rem;
    height: 0.8rem;
  }
}

@media (max-width: 600px) and (min-width: 376px)  {
  .scrollIndicator {
    top: 30rem;
  }
}

@media (max-width: 375px)  {
  .scrollIndicator {
    top: 25rem;
  }
}
