.scrollIndicator {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 37rem;
}

.scrollIndicator img {
  width: 1.5rem;
  cursor: pointer;
}

.arrowDown {
  animation: bounce-down 1s infinite alternate;
}

@keyframes bounce-down {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media (max-width: 768px) {
  .scrollIndicator {
    top: 28rem;
  }
}
