* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.heading1 {
  font-size: 4em;
  font-family: 'EB Garamond', serif;
  color: #ffa7c6;
  line-height: 1.1;
}

.heading2 {
  font-size: 2em;
  font-family: 'EB Garamond', serif;
}

.subHeading {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.paragraph {
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
}

.space {
  margin-bottom: 1em;
}

.spaceSmall {
  margin-bottom: 0.2em;
}

.padding {
  margin: 0.8em 0;
}

@media (max-width: 750px) and (min-width: 320px) {
  .heading1 {
    font-size: 3.2em;
  }
  .paragraph {
    font-size: 0.7em;
  }
  .heading2 {
    font-size: 1.7em;
  }
  .subHeading {
    font-size: 0.5em;
    letter-spacing: 2px;
  }
}

@media (max-width: 375px) {
  .heading1 {
    font-size: 2.5em;
  }
}
